*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #ffffff;
}
.logo{
    height: 25px;
    width: 25px;
}
header{
    background: #0079c1;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    display: flex;
    height: 7vh;
}
.logo{
    margin-right: -490px;
}
.nav-bar{
    display: flex;
    list-style: none;
    margin-right: 50px;
}
.nav-bar li{
    margin-left: 21px;
}
.nav-bar a{
    color: white;
    font-size: 19px;
    text-decoration: none;
    transition: 0.3s;
}
.nav-bar a:hover{
    opacity: 0.7;
}
.rodape{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
    background: #0890df;
    height: 9vh;
}
.rodape p{
    color: #ffffff;
    margin-block-end: 8px;
    margin-right: 20px;
}
.logo-rodape img{
    margin-left: 25px;
    margin-top: 2px;
}
.back-button{
    display: flex;
    color: #314163;
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
    margin-left: 490px;
}
.back-button a{
    text-decoration: none;
    transition: 0.3s;
    font-weight: 400;
    margin-left: 5px;
}
.back-button img{
    width: 25px;
    display: flex;
    justify-content: space-between;
}
.back-button a:hover{
    opacity: 0.7s;
}
.infos{
    margin-top: 50px;
    color: #314163;
    margin-left: 490px;
}
.infos h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin-top: 50px;
    margin-block-end: 35px;
}
.infos h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin-block-end: 30px;
}
.infos h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin-block-end: 10px;
}
.infos p{
    font-family: 'PT Serif', serif;
    margin-block-end: 30px;
}
form{
    margin-left: 490px;
    margin-right: 490px;
}
form fieldset{
    margin-right: 450px;
}
form h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    color: #314163;
    margin-left: 10px;
}
form h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #314163;
    margin-top: 20px;
    margin-left: 10px;
}
form input{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    border-color: #314163;
    width: 422px;
    height: 33px;
}
.anexar-curriculo{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-right: 10px;
    margin-block-end: 45px;
}
.anexar-curriculo dl{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #314163;
    margin-right: 50px;
    margin-left: 10px;
}
.anexar-curriculo button{
    font-family: 'Oswald', sans-serif;
    background: #4a85af;
    width: 165px;
    height: 40px;
    border: none;
    margin-left: 10px;
    color: #ffffff;
}
.vaga button{
    font-family: 'Oswald', sans-serif;
    background: #314163;
    margin-left: 10px;
    width: 165px;
    height: 40px;
    border: none;
    color: #ffffff;
}
.rodape{
    font-family: 'Oswald', sans-serif;
    font-size: 11px;
}