*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Oswald', sans-serif;
}
nav a{
    color: #ffff;
    text-decoration: none;
    list-style: none;
    transition: 0.3s;
}
nav a:hover{
    opacity: 0.7;
}